.ListApp,
body {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  padding: 0;
  overflow: hidden;
}
/* .ListApp {
  overflow: auto;
} */
.viewPort {
  height: 100vh;
  overflow: scroll;
  position: relative;
}

.list_phantom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.list_area {
  padding: 16px 0px;
  color: #555;
  box-sizing: border-box;
  border-bottom: 1px solid #999;
}
.list-item {
  border-bottom: 1px solid red;
}
